<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="../controller/app.js"></script> <!-- Link to the controller file -->
  <title>AngularJS Hello World</title>
</head>
<body ng-app="myApp">
  <div ng-controller="myCtrl">
    <h1>{{ message }}</h1>
  </div>
</body>
</html>
